<!--
템플릿 파일 제이드(Jade)파일
제이드 엔진을 통해 HTML 코드로 변환
라우팅 로직 중 render()함수에서 파라미터로 이 파일을 사용
-->
// layout.jade 템플릿 상속
extends layout

// layout.jade 파일의 block content
block content 
  h1= title
  p Welcome to #{title} <!-- /routes/index.js에 설정한 객체-->

