<!--
기본적인 html, head, title, link, body 태그는 
각 각 <html></html>, <head></head>, <title></title>, <link>, <body></body> 태그로 변경. 
마지막의 block centent 부분은 이것을 상속한 부분에서 구현할 코드로 대체
-->
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
